@font-face {
    font-family: "gladies";
    src: url("../fonts/gladies-regular.ttf") format("truetype");
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: #000;
}
.hero{
    position: relative;
    top: 30px;
    display: flex;
    margin-bottom: 350px;
    padding: 40px 20px;
    align-items: center;
    flex-direction: column;
    text-align: center;   
}
.hero-header a{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "gladies", sans-serif;
    margin: 30px;
}
.hero-header a:hover{
    color: rgb(187, 131, 19);
}

.logo{
    width: 25% !important;
}
#carousel-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}
.slide{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;  

}
@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
.slide span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(500px);
}
.slide span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: 2s;
}
.slide span:hover img{
    transform: translateY(-50px) scale(1.2);
}
.menu-grid {
  position: relative;
  top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* sempre 2 colunas */
  gap: 40px;
  padding: 10px 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.menu-item {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  padding: 10px 20px;
  gap: 20px;
}


.menu-item:hover {
  transform: scale(1.03);
}

.menu-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.menu-info {
  flex: 1;
}

.menu-info h4 {
  font-size: 18px;
  margin-bottom: 6px;
  color: #000;
  font-weight: bold;
}

.menu-info p {
  font-size: 14px;
  color: #444;
}

.menu-price {
  font-size: 18px;
  font-weight: bold;
  color: #ff6b00;
  white-space: nowrap;
}


/* RESPONSIVO */
@media (max-width: 768px) {
  .menu-grid {
    grid-template-columns: 1fr;
  }

  .menu-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-price {
    align-self: flex-end;
    margin-top: 10px;
  }
}
.third-section{
    margin-top: 200px;
   background-image: url('../imagens/decoracao-1.png');
    display: flex;
    background-size: cover;
    justify-content: center;
    height: auto;
    font-family: "gladies", sans-serif;
}
.container-third{  /*formulário*/
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    max-width: 600px;
    border-radius: 20px;
    max-height: 100%;
   backdrop-filter: blur(5px);
}
@media (max-width: 768px) {
  .form button {
    width: 100%;
  }

  .menu-item {
    flex-direction: column;
    align-items: flex-start;
  }
}


.header-container{
    padding: 20px;
    text-align: center;
    color: rgb(187, 131, 19);
    font-size: 2rem;
}

.header-container p{
    font-size: 1.8rem;
    color: black;
}
.form{
    padding: 20px;
}
.form-group{
    margin-bottom: 20px;
    position: relative;  
}
.form-group label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input{
    display: block;
    border: 2px solid #f0f0f0;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.form-group i{
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}
.form-group small{
    position: absolute;
    left: 0;
    visibility: hidden;
}
.form button{
    background-color:  rgb(187, 131, 19) ;
    border: 2px solid  rgb(187, 131, 19);
    color: white;
    font-size: 1rem;
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}
button:hover{
    transform: scale(1.02);
}

.tranding-carousel {
  background-color: #000; /* fundo escuro */
  padding: 50px 0;
  overflow: hidden;
  text-align: center;
  font-family: "gladies", sans-serif;
}

.carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel-track {
  display: flex;
  gap: 60px; /* espaçamento entre as imagens */
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item:hover {
  transform: scale(1.05);
}
.custom-footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
}
.footer-top-images img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 15px;
}
.footer-menu a {
  color: rgb(187, 131, 19);
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  padding: 2px 20px;
  border: 2px solid;
  border-radius: 20px;
  font-family: "Georgia", sans-serif;
}
.footer-menu {
  margin: 30px 0;
}
.footer-logo img {
  height: 80px;
}
.footer-social a {
  margin: 0 8px;
  color: white;
  font-size: 20px;
}
.footer-bottom {
  margin-top: 30px;
  font-size: 12px;
  color: #ccc;
}

